extends layout

block content
  h1= title  
  p Welcome to #{title}

  p PoornaChand local server 


  button(type="button", class="btn btn-success" onclick="update()") Press Me
  br    
  
  br
  div(id="target") Display 
   script.
    var client_count=0
    function update(){
     client_count++;
     document.getElementById("target").innerHTML=`value now ${client_count}`
     }
    br

  a(href="pens") link to pens

  
